<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style type="text/css">
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .mail {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;

            background-color: black;
        }
        .title {
            font-size: 20px;
            color: #f05a28;
        }
        .link {
            font-size: 14px;
            color: #ffffff !important;
        }
    </style>
</head>
<body>
<main class="main">
    <div class="mail">
        <h1 class="title">Reset Password</h1>
        <a href="<%= link %>" class="link"><%= link %></a>
    </div>
</main>
</body>
</html>
