<style type="text/css">
  .mail {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  title {
    background: linear-gradient(to bottom right, #f05a28 20%, #ec008c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  }
</style>

<div class="mail">
  <h1 class="title">Click link fro activation</h1>
  <a href="<%= link %>" ><%= link %></a>
</div>

